body{
  font-family: 'Open Sans', sans-serif;
  
}
html{
  box-sizing: border-box;
}
*,*::backdrop,*::after{
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}
a{
  text-decoration: none;
  color: inherit;

}
ul{
  list-style: none;
}
h1,h2,h3,h4,h5,h6{
  margin: 0;
}
.normal{
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  color: #FFFFFF;
  opacity: 0.7;
}
.bold{
  font-weight: bold;
  font-size: 40px;
  line-height: 130%;
  color: #FFFFFF;
}
#header{
  background-color: #08101E;
}
.logo-name{
  font-weight: 600;
  font-size: 22.5455px;
  line-height: 31px;
  color: #3A68B8;
  
}
.nav-content{
  background-color: #0A121F;
  padding-top: 21px;
  padding-bottom: 21px;
}
.logo-name{
  margin-left: 15px;
  margin-right: 83px;
}
.nav-item{
  margin-right: 40px;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
}
.btn{
  background: #3A68B8;
  border-radius: 5px;
  color: #FFFFFF;
  display: inline-block;
  padding: 15px 30px;
}
.xero-blue-text{
  font-weight: 600;
  font-size: 18px;
  line-height: 160%;
  text-transform: uppercase;
  color: #3A68B8;
  margin-bottom: 10px;
  
}
.xero-title{
  font-weight: 800;
  font-size: 55px;
  line-height: 130%;
  color: #FFFFFF;
  width: 604px;
  margin-bottom: 40px;
}
.xero-text{
  width: 558px;
  margin-bottom: 50px;
}
.xero-link + .xero-link{
  margin-left: 20px;
}
.xero-link-img{
  margin-right: 10px;
  height: 17px;
}
.xero{
  padding-top: 49px;
  overflow: hidden;
}
.xero-human-img{
  margin-left: 110px;
}
.partnores{
  padding-top: 89px;
  padding-bottom: 90px;
}
#deep-learn{
  background-color: #020A18;
}
.deep-title{
  width: 484px;
  margin-bottom: 30px;
}
.deep-text{
  width: 460px;
  margin-bottom: 50px;
}
.deep-learn{
  padding-top: 130px;
  padding-bottom: 170px;
}
.deep-learn-content{
  margin-left: 68px;
}
.deep-img{
  margin-left: -103px;
}
.slider-title{
  font-size: 25px;
  line-height: 125%;
  text-align: center;
  color: #FFFFFF;
  opacity: 0.7; 
  width: 302px;
  margin-bottom: 30px;
}
.slider-text{
  width: 302px;
  text-align: center;
}
.slider-items{
  border-radius: 10px;
  background-color: #0E1523;
  width: 362px;
  padding: 30px;

}
.slider{
  padding-bottom: 50px;
}
.slider-img{
  width: 98px;
  height: 103px;
  margin: 0 auto;
  margin-bottom: 30px; 
}
.slider-dod{
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #2C3647;
  opacity: 0.5;
}
.slider-dods{
  width: 70px;
}
.slider-dod + .slider-dod{
  margin-left: 10px;
}
.about-title{
  width: 548px;
  margin-bottom: 40px;
}
#about{
  background-color: #020A18;
}
.about-text{
  width: 460px;
  margin-bottom: 20px;
}
.about{
  padding: 170px 0;
}
#footer-all{
  background-color: #070F1C;
  
}
.footer-blue-tex{
  font-weight: 600;
  font-size: 15.9627px;
  line-height: 22px;
  color: #3A68B8;
  margin-top: 7px;
  margin-bottom: 9px;
  
}
.footer-content{
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;

}
.footer-link-text{
  width: 261px;
  margin-bottom: 37px;
}
.logo-text{
  margin-left: 10px;
}
.footer-content{
  margin-bottom: 32px;
}
.footer-item{
  margin-bottom: 20px;
}
.footer-social-text{
  width: 261px;
  margin-bottom: 29px;
}
.social-links{
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
  
}
.normal1{
  font-weight: 450;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
  opacity: 0.6;  
}
.footer-social-item{
  margin-right: 25px;
  margin-top: 21px;
  margin-bottom: 14px;
}
.margin-footer{
  margin-top: -19px;
}
.language-item{
  margin-right: 8px;
}
.footer-contents{
  padding-top: 77px;
  
}
.footer-logo-list-item{
  margin-bottom: 17px;
}
.fulled-container{
  background-color: #020A18;
}
.slick-prev:before{
  content: none;
}    
.slick-next:before{
  content: none;
} 
.slick-dots{
  background-color: #020A18;
}
main{
  background-color: #020A18;
}
button{
  border: none;
}
.slider-items{
  max-width: 363px;
}
.slick-dots li button {
  border: 2px solid #FFFFFF;
  border-radius: 100%;
}
.slick-dots li.slick-active button {
  background-color: #FFFFFF;
}